**Feature Engineering**

1.Import Libraries

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

2.Dataset

In [4]:
data = { "Study_Hours":[2,4,6,8,10,np.nan],
         "Attendance":[60,70,80,90,np.nan,75],
         "Previous_Score":[45,55,65,75,85,60],
         "Gender":["Male","Female","Female","Male","Male","Female"],
         "Pass":[0,0,1,1,1,0]}
df=pd.DataFrame(data)
df

   Study_Hours  Attendance  Previous_Score  Gender  Pass
0          2.0        60.0              45    Male     0
1          4.0        70.0              55  Female     0
2          6.0        80.0              65  Female     1
3          8.0        90.0              75    Male     1
4         10.0         NaN              85    Male     1
5          NaN        75.0              60  Female     0

3.Handling Missing Values

In [7]:
df["Study_Hours"] = df["Study_Hours"].fillna(df["Study_Hours"].mean())
df["Attendance"] = df["Attendance"].fillna(df["Attendance"].median())
df

   Study_Hours  Attendance  Previous_Score  Gender  Pass
0          2.0        60.0              45    Male     0
1          4.0        70.0              55  Female     0
2          6.0        80.0              65  Female     1
3          8.0        90.0              75    Male     1
4         10.0        75.0              85    Male     1
5          6.0        75.0              60  Female     0

In [6]:
df.columns

Index(['Study_Hours', 'Attendance', 'Previous_Score', 'Gender', 'Pass'], dtype='object')

4.Encoding Categorical Feature

In [11]:
df = pd.get_dummies(df,columns=["Gender"],drop_first=True,dtype=int)

In [12]:
df.columns

Index(['Study_Hours', 'Attendance', 'Previous_Score', 'Pass', 'Gender_Male'], dtype='object')

5.Creating New Features

In [14]:
df["Study_Efficiency"] = df["Study_Hours"]/df["Attendance"]
df

,Study_Hours,Attendance,Previous_Score,Pass,Gender_Male,Study_Efficiency
0,2.0,60.0,45,0,1,0.033333
1,4.0,70.0,55,0,0,0.057143
2,6.0,80.0,65,1,0,0.075000
3,8.0,90.0,75,1,1,0.088889
4,10.0,75.0,85,1,1,0.133333
5,6.0,75.0,60,0,0,0.080000

6.Feature Scaling

In [18]:
scaler = StandardScaler()
scaler_features = scaler.fit_transform(df[["Study_Hours","Attendance","Previous_Score","Study_Efficiency"]])
scaler_df = pd.DataFrame(scaler_features,columns=["Study_Hours","Attendance","Previous_Score","Study_Efficiency"])
scaler_df

   Study_Hours  Attendance  Previous_Score  Study_Efficiency
0    -1.549193   -1.643168       -1.469416         -1.457365
1    -0.774597   -0.547723       -0.702764         -0.679643
2     0.000000    0.547723        0.063888         -0.096351
3     0.774597    1.643168        0.830540          0.357320
4     1.549193    0.000000        1.597191          1.809068
5     0.000000    0.000000       -0.319438          0.066971

7.Final Feature Set

In [19]:
final_df = pd.concat([scaler_df,df[["Gender_Male","Pass"]]],axis=1)
final_df

,Study_Hours,Attendance,Previous_Score,Study_Efficiency,Gender_Male,Pass
0,-1.549193,-1.643168,-1.469416,-1.457365,1,0
1,-0.774597,-0.547723,-0.702764,-0.679643,0,0
2,0.000000,0.547723,0.063888,-0.096351,0,1
3,0.774597,1.643168,0.830540,0.357320,1,1
4,1.549193,0.000000,1.597191,1.809068,1,1
5,0.000000,0.000000,-0.319438,0.066971,0,0